<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>World Go On</title>
  </head>
  <body>
    <h1>Hello World!</h1>

    <div ng-controller="MainController">
      <div ng-repeat="element in myarr track by $index">
      <!-- track by $index uses the array index rather than the value -->
        {{ element }} : {{ $index }}
      </div>
      <div ng-repeat-start="user in users"`>
        <strong>{{ user.name }}</strong>: {{ user.age }}
      </div>
      <hr ng-repeat-end>
      <div ng-repeat="attribute in ob">
        {{ attribute }}
      </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>